@model IEnumerable<DotnetEcommerceStore.Models.Product>
@using DotnetEcommerceStore.Models.Interfaces
@inject IInventory InventoryService
@using Microsoft.AspNetCore.Identity
@using DotnetEcommerceStore.Models
@inject SignInManager<ApplicationUser> signInManager

@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/Styles/HomeIndex.css" />

@{
    var products = await InventoryService.GetProductList();
}

<h1 class="marginTop">Featured Items</h1>

<div class="salesblock">
    @foreach (var product in products)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-header">@product.Name</div>
                        <div class="card-body"><img src="~/Images/Products/Placeholder.png" class="prodimage" /></div>
                        <div class="card-body">@product.Description</div>
                        <div class="card-footer">$ @product.Price</div>
                        <div class="card-footer"><a id="itemDetails" asp-controller="Product" asp-route-id="@product.ID" asp-action="Details"  >View Details</a></div>
                        @if (signInManager.IsSignedIn(User))
                        {
                            <div class="card-footer"><button class="AddToBasket" asp-controller="Basket" asp-action="AddToCart" asp-route-ProductID="@product.ID" type="button">Add to Basket</button></div>
                        }
                        else
                        {
                            <div class="card-footer"><button onclick="location.href='/Account/Login'">Login to Add to Basket</button></div>
                        }

                    </div>
                </div>
            </div>
        </div>
    }
</div>

