@model IEnumerable<DotnetEcommerceStore.Models.CartItems>
@using DotnetEcommerceStore.Models.Interfaces
@inject IInventory InventoryService
@using Microsoft.AspNetCore.Identity
@using DotnetEcommerceStore.Models
@inject SignInManager<ApplicationUser> signInManager

@{
    Layout = "_Layout";

    decimal total = 0;
}

<link rel="stylesheet" href="~/Styles/Cart.css" />

<div class="checkoutForm">
    <h2>Your Shopping Cart</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Product</th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var line in Model)
            {
            <tr>
                <td>@line.Quantity</td>
                <td>@line.Product.Name</td>
                <td>@line.Product.Price.ToString("c")</td>
                <td>@((line.Quantity * line.Product.Price).ToString("c"))</td>
                <td>@line.CartItemsID</td>

                @{
                    total = total + (line.Quantity * line.Product.Price);
                }

                <td><form class="card-footer" method="post"><button class="AddToBasket" asp-controller="Cart" asp-action="DeleteCartItem" value="@line.CartItemsID" name="userID" type="submit">Remove from Basket</button></form></td>

            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Total:</td>

                <td>
                    @total.ToString("c")
                </td>
            </tr>

        </tfoot>
        <tfoot>

        </tfoot>

    </table>
    <form class="card-footer" method="post"><button class="AddToBasket" asp-controller="Checkout" asp-action="Checkout" value="@User.Identity.Name" name="userID" type="submit">Checkout</button></form>
</div>

<td>
    @* form class="card-footer" method="post"><button class="AddToBasket" asp-controller="Checkout" asp-action="Checkout" value="@User.Identity.Name" name="name" type="submit">Checkout</button></form> *@

    @*  *@


    @*  *@

    @*  *@
